data/.vscode
data/.DS_Store
data/amazon
data/amazon_transfer
data/caption
data/gender
data/gender_transfer
data/paper
data/politics
data/reddit
data/twitter
data/yelp
data/yelp_transfer
pivot_analysis.code-workspace
.DS_Store
src/*.txt
src/*.pyc
src/__pycache__
outputs/transfer
outputs/prec_recl_outputs
outputs/*.pivot
outputs/*.sent
outputs/*.sent_hard
outputs/prec_recl_outputs.zip
outputs/*.npy
local/  
.vscode/
data.zip
